<h1> Homepage </h1>
<h2> Welcome to Markers BnB </h2>
<form action="/">
<h3> Check Availability: </h3>
  <input type="date" name="search_date" placeholder="yyyy-mm-dd">
  <input type="submit" name = "Search" value="Search" >
</form>
<h2> Spaces: </h2>
<% @spaces.each do |space| %>
  <div class="space-listing" >
    <h4><%= space.name %></h4>
    <br>
    Description: <%= space.description %>
    <br>
    Price per night: £<%= space.price %>
    <br><br>
    <% if session[:user_id] != nil %>
      <a href="/spaces/<%= space.id %>">Details</a>
    <% end %>
    <br>
    <br>
  </div>
  
  <br>
<% end %>
