<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-image: url(https://images.unsplash.com/photo-1566195992011-5f6b21e539aa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h1, h2, ul-h{
  color: white;
}
</style>
</head>
<body>

<h1> Homepage </h1>
<h2> Welcome to Markers BnB </h2>
<form action="/">
  <input type="date" name="search_date">
  <input type="submit" value="Search">
</form>
<h2> Spaces: </h2>
<br>
<ul-h>
  <% @spaces.each do |space| %>
    <li-h>
    <% if session[:user_id] != nil %>
      <a href="/spaces/<%= space.id %>">Details</a>
    <% end %>
      Name: <%= space.name %>
      <br>
      Description: <%= space.description %>
      <br>
      Price per night: £<%= space.price %>
      <br>
      <br>
    </li-h>
    <br>
    <br>
  <% end %>
</ul-h>

</body>
</html>




