<form method='post' action='/add_space'>  
    <input type='text' name='description'>
    <input type='text' name='description'>
    <input type='number' name='price'>
    <input type='submit' name='add_space' >
</form>