<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Makers BnB</title>
  <meta name="author" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="/css/style.css" rel="stylesheet">
</head>

<body>
  <ul>
    <li><a href="/">Home</a></li>
    <% if session[:user_id] %>
    <li><a href="/users/<%= session[:user_id] %>">Profile</a></li>
      <li><a href='/spaces/new'>Add New Space</a></li>
      <li><a href='/reservation-requests'>View Requests</a></li>
      <li><a href='/reservations'>View Reservations</a></li>
      <li><a href="/logout">Logout</a></li>
    <% else %>
      <li><a href="/login">Login</a></li>
    <% end %>
  </ul>
  <div class="container">
    <% flash.keys.each do |type| %>
      <p data-alert class="<%= type %>">
        <%= flash[type] %>
      </p>
    <% end %>

    <%= yield %>
  </div>
</body>

</html>
