<h1> Log In </h1>
<form action="/sessions" method="POST">
  <label for="email">Email:</label>
  <input type="text" name="email" value="<%= @attempted_email %>"><br><br>
  <label for="password">Password:</label>
  <input type="password" name="password"><br><br>
  <input type="submit" name="Login" value='Log In'/>
</form>
<br>
<form action='/signup' >
  <input type='submit' name='signup' value='Sign Up'>
</form>
