<h1>Welcome to MakersBnB!</h1>
<p>Dear <%= @recipient.username %>,
<p>We're very glad to welcome you to MakersBnB!</p>
<p>You can now make bookings for our listed spaces, or list a space of your own!</p>
<p>Regards,</p>
<p>Team 6</p>