<h1> Sign Up </h1>
<form action="/users" method="POST">
  <label for="username">Username:</label>
  <input type="text" name="username"><br><br>
  <label for="email">Email:</label>
  <input type="text" name="email"><br><br>
  <label for="password">Password:</label>
  <input type="password" name="password"><br><br>
  <input type="submit" name="Signup" value='Sign Up' />
</form>
<br>
<form action='/login' >
  <input type='submit' name='back' value='Back'>
</form>