body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  box-sizing: border-box;
  color: white;

  background: url(https://images.unsplash.com/photo-1566195992011-5f6b21e539aa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80) no-repeat center center fixed;
  background-size: cover;
  
}

.container {
  padding: 10px;
}

.error {
  color: red;
}

.success {
  color: green;
}

.booking-request {
  border: 1px solid black;
  padding: 10px;
  width: 400px;
}

.calendar {
  width: 770px;
}

.calendar-day {
  border: 1px solid black;
  width: 80px;
  height: 80px;
  display: inline-block;
  margin: 0 0 4px 0;
  padding: 10px;
}

.available {
  background-color:rgba(0,255,0,0.3);
}

.unavailable {
  background-color:rgba(155, 163, 155, 0.651);
}

.requested {
  background-color:rgba(255,255,0,0.3);
}

.booked {
  background-color:rgba(255,0,0,0.3);
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 4px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

ul-h {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li-h {
  
}